<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body class = "body-style">
<h3 class="text-style">You are one click away from changing your future. Submit your details below and say NO to domestic abuse now!</h3>
<div class="submission-form">
<form id="searchForm" action = "http://localhost:5000/submit" method="post">
  <select name="countries" class="country-dropdown">
     <option value="London">London</option>
     <option value="Birmingham">Birmingham</option>
     <option value="Manchester">Manchester</option>
  </select>
  <input type="text" name="s" placeholder="Contact number">
  <input type="text" name="m" placeholder="Enter message">
  <input type="submit" value="Submit">
</form>
</div>
<div class="imgbox">
    <img class="center-fit" src='static/form.png'>
</div>
</body>
</html>